<ion-view view-title="pNotes">
    <ion-content class="note-content">
        <div class="row">
            <div class="col">
            	<h3 class="text-center">HEJ</h3>

            	<a class="button button-block button-balanced" ui-sref="addNote">New note</a>

            	<a class="button button-block button-positive" ui-sref="listNotes">View notes</a>

            	<a class="button button-block button-energized" ui-sref="editNote">Edit note</a>

            	<a class="button button-block button-assertive" ui-sref="deleteNote">Delete note</a>
            </div>
        </div>
    </ion-content>
</ion-view>
