<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/patternLock.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/elastic.js"></script>
    <script src="js/jquery-3.1.0.slim.min.js"></script>
    <script src="js/patternLock.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body ng-app="pNotes">
    <ion-pane>
        <ion-nav-bar class="bar-dark" align-title="center">
            <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
        <!-- LOGIN -->
        <script type="text/ng-template" id="login.html">
            <ion-view view-title='Login' name='login-view'>
                <ion-content class='center'>
                    <div class='list card' ng-hide='log_pattern'>
                        <div class='item item-icon-left'>
                            <i class='icon ion-alert assertive'></i>
                            <h2 class='assertive'>Please set your login pattern!</h2>
                        </div>
                    </div>
                    <div id='lockPattern' class='pattern-holder patt-holder'></div>
                </ion-content>
            </ion-view>
        </script>
        <!-- ADD NOTE -->
        <script type="text/ng-template" id="addNote.html">
            <ion-view view-title="Add note">
                <ion-content class="note-content">
                    <div class="row">
                        <div class="col">
                            <div class="card card-note">
                                <label class="item item-input custom-color">
                                    <input class="custom-color-focus note-title" type="text" placeholder="Title..." ng-model="title">
                                </label>
                                <label class="item item-input card-note custom-color">
                                    <textarea class="card-note note-text msd-elastic custom-color-focus" placeholder="Write a note..." ng-model="body"></textarea>
                                </label>
                            </div>
                            <button class="button button-balanced" ng-click="saveNote(title, body)">Save</button>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </script>
        <!-- VIEW NOTES -->
        <script type="text/ng-template" id="listNotes.html">
            <ion-view view-title="pNotes">
                <ion-content class="note-content">
                    <div class="row">
                        <div class="col">
                            <a class="button button-block button-balanced btn-custom" ui-sref="addNote">New note</a>
                            <div class="card">
                                <div class="item item-text-wrap card-notes" ng-repeat="note in allNotes" ui-sref="singleNote({id: note.id})" nav-direction="enter">
                                    <span class="note-title">{{note.title}}</span><span class="note-time">{{note.date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </script>
        <!-- SINGLE NOTE -->
        <script type="text/ng-template" id="singleNote.html">
            <ion-view view-title="{{singleNote.title}}">
                <ion-content class="note-content">
                    <div class="row">
                        <div class="col" ng-controller="EditNoteCtrl">
                            <div class="card">
                                <div class="item item-text-wrap card-notes">
                                    <label class="item item-input custom-color">
                                        <input class="focusout custom-color-focus note-title" type="text" placeholder="{{singleNote.title}}" ng-model="title">
                                    </label>
                                    <label class="item item-input custom-color">
                                        <textarea class="focusout note-text msd-elastic custom-color-focus single-note" ng-model="body">{{singleNote.body}}
                                        </textarea>
                                    </label>
                                </div>
                            </div>
                            <span><a class="button button-assertive btn-custom" ng-click="deleteNote(singleNote.id)">Delete note</a></span><span class="note-time2">Created: {{singleNote.date}}</span>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </script>
    </ion-pane>
</body>

</html>
